[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask            = "*"
flask-wtf        = "*"
flask-login      = "*"
flask-sqlalchemy = "*"
flask-migrate    = "*"
flask-socketio   = "*"
eventlet         = "*"
python-dotenv    = "*"
bootstrap-flask = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
