{% extends 'base.html' %} {% block title %} Chat with {{ user.username }} {%
endblock %} {% block content %}
<h1>Chat with {{ user.username }}</h1>
<ul class="list-group">
  {% for message in messages %}
  <li class="list-group-item">
    <div class="card">
      <div
        class="card-header"
        style="{% if message.sender == current_user %}text-align: right;{% endif %}"
      >
        {% if message.sender == current_user %} You {% else %}
        <img
          width="35"
          height="35"
          style="border-radius: 100px"
          src="{{ message.sender.image_url }}"
          alt="..."
        />
        {{ message.sender.username }} {% endif %}
      </div>
      <div
        class="card-body"
        style="{% if message.sender == current_user %}text-align: right;{% endif %}"
      >
        <p class="card-text">{{ message.body }}</p>
        <span style="float: right">{{ message.formatted_created_at }}</span>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
<form
  action="{{ url_for('chat_with', username=user.username) }}"
  method="POST"
  autocomplete="off"
  novalidate="true"
>
  {{ form.hidden_tag() }}

  <div class="form-group">
    <label for="body">{{ form.body.label }}</label>
    {{ form.body(class="form-control")}}
    <small class="form-text text-muted">{{ form.body.errors[0] }}</small>
  </div>

  {{ form.submit(class="btn btn-success mt-2") }}
</form>

<script
  src="https://cdn.socket.io/3.1.1/socket.io.min.js"
  integrity="sha384-gDaozqUvc4HTgo8iZjwth73C6dDDeOJsAgpxBcMpZYztUfjHXpzrpdrHRdVp8ySO"
  crossorigin="anonymous"
></script>
<script type="text/javascript" charset="utf-8">
  var socket = io();

  socket.on("connect", (e) => {
    var username = window.location.pathname.split("/").pop();
    socket.emit("join", { with: username });
  });

  socket.on("message", (e) => {
    console.log("message:", e);
  });
</script>
{% endblock %}
