{% extends 'base.html' %}

{% block title %} Social • Chats {% endblock %}

{% block content %}
  <h1>Chats</h1>
  {% if not current_user.friends %}
    <h1>You don't have any friends to chat with :(</h1>
  {% else %}
    <ul class="list-group">
    {% for friend in current_user.friends %}
      <li class="list-group-item d-flex align-items-center">
        <img class="rounded" width="75" height="75" src="{{ friend.image_url }}" alt="user's image">
        <a class="mx-2 h5" href="{{ url_for('chat', username=friend.username )}}">{{ friend.username }}</a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
