{% extends 'base.html' %}

{% from "bootstrap/form.html" import render_form %}

{% block title %}  Social • chat with {{ user.username }} {% endblock %}

{% block content %}
  <div class="mt-3">
    <ul id='messages-list' class="list-group">
      {% for message in messages %}
      <li class="list-group-item">
        <div class="card">
          <div
            class="card-header d-flex justify-content-end"
            style="{% if message.sender == current_user %} text-align: right; {% endif %}"
          >
            {% if message.sender == current_user %}
              <button
                id="message-delete-btn"
                class="btn btn-danger mr-auto"
                data-message-id="{{ message.id }}"
                style="border-radius: 100px; font-size: .875rem; padding: 0 .5rem;"
                >&times;</button>
              You
            {% else %}
              <img
                width="35"
                height="35"
                style="border-radius: 100px"
                src="{{ message.sender.image_url }}"
                alt="..."
              />
              <span class="mr-auto">{{ message.sender.username }}</span>
            {% endif %}
          </div>
          <div
            class="card-body"
            style="{% if message.sender == current_user %}text-align: right;{% endif %}"
          >
            <p class="card-text">{{ message.body }}</p>
            <span style="float: right">{{ message.formatted_created_at }}</span>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    {{ render_form(form, button_style='success', id='message-create-form', render_kw={'autocomplete': 'off'}) }}
  </div>
{% endblock %}

{% block scripts %}
  <script
    src="https://cdn.socket.io/3.1.1/socket.io.min.js"
    integrity="sha384-gDaozqUvc4HTgo8iZjwth73C6dDDeOJsAgpxBcMpZYztUfjHXpzrpdrHRdVp8ySO"
    crossorigin="anonymous"
  ></script>
  <script type="text/javascript">
    function handleDeleteClick(e) {
      const messageId = e.target.getAttribute('data-message-id');
      fetch(`/messages/${messageId}`, {
        method: 'DELETE',
        headers: { 'Content-type': 'application/json'}
      })
      .then(res => {
        if (res.status === 204) {
          const el = e.target.closest('.list-group-item')
          el.remove();
        }
      })
    }

    (function () {
      const deleteButtons = document.querySelectorAll('#message-delete-btn');
      deleteButtons.forEach(btn => btn.addEventListener('click', handleDeleteClick));

      const socket = io('/chat');

      const form = document.querySelector('#message-create-form');
      const body = document.querySelector('#body');
      const messages = document.querySelector('#messages-list');

      const current_username = '{{ current_user.username }}';
      const recipient = window.location.pathname.split('/').pop();

      socket.on('connect', () => {
        console.log('connect');
      });

      socket.on('message', e => {
        switch (e.type) {
          case 'update': {
            const li = document.createElement('li');
            li.className = 'list-group-item';

            const card = document.createElement('div');
            card.className = 'card';

            const cardHeader = document.createElement('div');
            cardHeader.className = 'card-header d-flex justify-content-end';
            if (e.data.sender.username == current_username) {
              cardHeader.style.textAlign = 'right';
            }

            if (e.data.sender.username == current_username) {
              const deleteBtn = document.createElement('button');
              deleteBtn.id = 'message-detele-btn';
              deleteBtn.className = 'btn btn-danger mr-auto';
              deleteBtn.style = 'border-radius: 100px; font-size: .875rem; padding: 0 .5rem;'
              deleteBtn.appendChild(document.createTextNode('×'));
              deleteBtn.addEventListener('click', handleDeleteClick);
              deleteBtn.setAttribute('data-message-id', e.data.id);

              cardHeader.appendChild(deleteBtn);
              cardHeader.appendChild(document.createTextNode('You'));
            } else {
              const img = document.createElement('img');
              img.witdh = '35';
              img.height = '35';
              img.style.borderRadius = '100px';
              img.src = e.data.sender.imageUrl;
              cardHeader.appendChild(img);
            }

            const cardBody = document.createElement('div');
            cardBody.className = 'card-body';
            if (e.data.sender.username == current_username) {
              cardBody.style.textAlign = 'right';
            }

            const cardText = document.createElement('p');
            cardText.innerText = e.data.body;

            const createdAt = document.createElement('span');
            createdAt.style.float = 'right';
            createdAt.innerText = e.data.createdAt;

            cardBody.appendChild(cardText);
            cardBody.appendChild(createdAt);

            card.appendChild(cardHeader);
            card.appendChild(cardBody);

            li.appendChild(card);
            messages.appendChild(li);
          }
        }
      });

      form.addEventListener('submit', e => {
        e.preventDefault();
        const data = { recipient, body: body.value };
        socket.emit('message', data);
        form.reset();
      });
    })();
  </script>
{% endblock %}
