{% extends "base.html" %}

{% from "bootstrap/form.html" import render_form %}

{% block title %} Social • Login {% endblock %}

{% block content %}
  <div
    class="container d-flex flex-column justify-content-center"
    style="max-width: 375px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <h1 class="text-center">Login</h1>

    {{ render_form(form,
                   url_for('login'),
                   button_style='success',
                   novalidate=True,
                   extra_classes='my-1.5') }}

    <p class="text-center mt-3">Don't have an account?
      <a href="{{ url_for('register') }}">Click here</a>
    </p>
  </div>
{% endblock %}
