{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}

{% block title %} Social • Login {% endblock %}

{% block main %}
<div class="container d-flex" style="height: 90%;">
  <div class="container align-self-center">
    <h1 class="text-center">Login</h1>

    {{ wtf.quick_form(form, action=url_for('login'), button_map={'submit': 'success'}) }}

    <p class="text-center">Don't have an account?
      <a href="{{ url_for('register') }}">Click here</a>
    </p>
  </div>
</div>
{% endblock %}
