{% extends "base.html" %}
{% block title %} Social • {{ user.username }} {% endblock %}

{% block content %}
  <h1>Profile</h1>
  <div class="card" style="width: 18rem;">
  <img width="200" height="250" src="{{ user.image_url }}" class="card-img-top rounded" alt="user's avatar">
  <div class="card-body">
    <h5 class="card-title">{{ user.username }}</h5>
    <p class="card-text">{{ user.about }}</p>

    {% if user != current_user %}

      {% if user in current_user.desired_friends %}
        <span class='alert alert-secondary'>Friendship request sent</span>

      {% elif user not in current_user.friends %}
        <form action="{{ url_for('request_friend', username=user.username) }}" method="post">
          <button type="submit" class="btn btn-success">Add friend</button>
        </form>

      {% else %}
        <a href="{{ url_for('chat_with', username=user.username) }}" class="btn btn-primary">Chat</a>
      {% endif %}

    {% else %}
      <a class="btn btn-success" href="{{ url_for('change_avatar')}}">Change avatar</a>
    {% endif %}

  </div>
</div>

{% if user == current_user or user in current_user.friends %}
  <h2>Friends</h2>
  <ul class="list-group">
    {% if user.friends %}

      {% for friend in user.friends %}
        <li class="list-group-item d-flex align-items-center">
          <img class="rounded" width="75" height="75" src="{{ friend.image_url }}" alt="user's image" />
          <a href="{{ friend.get_profile_url() }}">{{ friend.username }}</a>

          {% if user == current_user %}
            <form action="{{ url_for('delete_friend', username=friend.username) }}"
              method="post" class="ml-auto">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          {% endif %}

        </li>
      {% endfor %}

    {% else %}
      <li class="list-group-item">No Friends</li>
    {% endif %}
  </ul>
{% endif %}

{% if user == current_user %}
  <h2>Friendship Requests</h2>
  <ul class="list-group">
    {% if user.aspiring_friends[:]  %}

      {% for friend in user.aspiring_friends %}
        <li class="list-group-item d-flex align-items-center">
          <img class="rounded" width="75" height="75" src="{{ friend.image_url }}" alt="user's image" />
          <a href="{{ friend.get_profile_url() }}">{{ friend.username }}</a>

          <form action="{{ url_for('accept_friend', username=friend.username) }}"
            method="post" class="ml-auto">
            <button type="submit" class="btn btn-success">Accept</button>
          </form>

          <form action="{{ url_for('refuse_friend', username=friend.username) }}" method="post">
            <button type="submit" class="btn btn-danger">Refuse</button>
          </form>

        </li>
      {% endfor %}

    {% else %}
      <li class="list-group-item">No Friendship requests</li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}
