{% extends 'base.html' %}

{% from "bootstrap/form.html" import render_form %}

{% block title %} Social • Register {% endblock %}

{% block content %}
  <div class="container d-flex flex-column justify-content-center" style="height: 90%; max-width: 375px;">

      <h1 class="text-center">Register</h1>

      {{ render_form(form,
                     url_for('register'),
                     button_style='success',
                     novalidate=True,
                     extra_classes='my-1.5') }}

      <p class="text-center mt-3">Already have an account?
        <a href="{{ url_for('login') }}">Click here</a>
      </p>

  </div>
{% endblock %}

{% block scripts %}
  <script>
    function insertAfter(element, what) {
      element.parentNode.insertBefore(what, element.nextSibling);
    }

    const username = document.querySelector('#username');
    const password = document.querySelector('#password');
    const password2 = document.querySelector('#password2');

    username.onkeyup = function () {
      fetch(`/check-unique?username=${this.value}`)
      .then(res => res.json())
      .then(data => {
        const error = document.querySelector('#username-helper') ?? document.createElement('span');
        if (!data.username) {
          error.id = 'username-helper';
          error.innerText = 'User with his username already exists.';
          error.className = 'text-danger';
          insertAfter(username, error);
        } else {
          error.remove();
        }
      })
    }

    password.onblur = function () {
      const error = document.querySelector('#password-helper') ?? document.createElement('span');
      if (this.value.length < 8) {
        error.id = 'password-helper';
        error.innerText = 'Password must have at least 8 characters.'
        error.className = 'text-danger';
        insertAfter(password, error);
      } else {
        error.remove();
      }
    }

    password2.onblur = function () {
      const error = document.querySelector('#confirm-password-helper') ?? document.createElement('span');
      if (this.value !== password.value) {
        error.id = 'confirm-password-helper';
        error.innerText = 'Password do not match.'
        error.className = 'text-danger';
        insertAfter(password2, error);
      } else {
        error.remove();
      }
    }
  </script>
{% endblock %}
