{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Social • Register {% endblock %}

{% block main %}
<div class="container d-flex" style="height: 90%;">
  <div class="container align-self-center">
    <h1 class="text-center">Register</h1>

    {{ wtf.quick_form(form, action=url_for('register'), button_map={'submit': 'success'}) }}

    <p class="text-center">Already have an account?
      <a href="{{ url_for('login') }}">Click here</a>
    </p>
  </div>
</div>
{% endblock %}
